ScrollableSegmentedControl.xcodeproj/project.xcworkspace/xcuserdata
ScrollableSegmentedControl.xcodeproj/xcuserdata
Demo/ScrollableSegmentedControlDemo/ScrollableSegmentedControlDemo.xcodeproj/project.xcworkspace/xcuserdata
Demo/ScrollableSegmentedControlDemo/ScrollableSegmentedControlDemo.xcodeproj/xcuserdata
/.DS_Store
/Carthage
